<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boletín del Rendimiento Académico</title>
    <style>
      body {
        font-size: 14px;
      }

      p {
        margin-bottom: 5px;
      }

      .header {
        background: #1a182e;
        color: #fff;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      .header img {
        width: 110px;
        margin: 0 auto;
      }

      .main {
        background-image: url("data:image/;base64, <%= imageData %>");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        height: 70vh;
        width: 100%;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
      }

      .table {
        border-collapse: collapse;
        width: 80vw;
      }

      .table td {
        border: 2px solid black;
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header
      style="
        background: #1a182e;
        color: #fff;
        padding: 20px 0 30px;
        text-align: center;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 40px;
      "
    >
      <!-- ///// -->
      <svg
        width="59"
        height="75"
        viewBox="0 0 59 75"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4.5484 24.8513L25.2396 34.2254L34.3399 41.4919L45.2877 54.2597L37.8295 64.6874L29.564 71.2424L21.0248 62.6895C21.0248 62.6895 13.9361 53.2607 13.1697 53.0418C12.4034 52.8228 6.84743 42.053 6.75164 41.4919C6.65584 40.9308 4.84947 30.0652 4.5484 29.8463C4.24734 29.6273 4.5484 24.8513 4.5484 24.8513Z"
          fill="#E52320"
        />
        <path
          d="M19.5879 18.5017L17.7678 16.011L29.1671 5.28226L37.5011 13.1236L41.3465 16.011L40.2928 18.5017L54.9491 24.5913L53.129 39.8361L46.0403 54.2597L42.7834 50.7428L34.7368 41.4919L28.2092 35.8538L18.5752 30.2705L6.73795 24.5913L19.5879 18.5017Z"
          fill="#395BA6"
        />
        <path
          d="M58.9997 21.1018C51.2542 21.6628 45.8624 18.3785 45.8624 18.3785C47.3814 17.9269 48.9141 16.23 48.9141 16.23C36.5979 12.2478 29.6872 0 29.6872 0C29.6872 0 22.7627 12.2478 10.4465 16.2163C10.4465 16.2163 11.9655 17.9132 13.4982 18.3648C13.4982 18.3648 8.10642 21.6492 0.360893 21.0881C0.360893 21.0881 0.251416 38.8234 4.4663 47.0616C8.32538 54.5882 11.8971 59.4873 18.6026 65.9465C23.0911 70.2571 28.784 74.6225 29.6735 74.6225C30.563 74.6225 36.2695 70.2434 40.7444 65.9465C47.4499 59.501 51.0353 54.6019 54.8806 47.0616C59.1092 38.8371 58.9997 21.1018 58.9997 21.1018ZM51.7195 40.9172C49.352 48.0195 42.017 57.7493 37.638 62.0737C33.2589 66.398 29.5777 68.7518 29.5777 68.7518C29.5777 68.7518 26.1018 66.398 21.7227 62.0737C17.3436 57.7493 10.0086 48.0195 7.64114 40.9172C5.78003 35.3475 5.78002 25.0977 5.78002 25.0977C16.6183 23.0176 21.5448 18.009 21.5448 18.009L19.451 16.0111C24.8565 13.2605 29.5777 6.55496 29.5777 6.55496C30.0977 7.29393 34.5178 13.2605 39.9096 16.0111L37.8159 18.009C37.8159 18.009 42.7423 23.0039 53.5806 25.0977C53.5806 25.0977 53.5806 35.3475 51.7195 40.9172Z"
          fill="black"
        />
        <path
          d="M37.5285 24.3861C37.7611 24.6187 38.158 24.6187 38.3906 24.3861L40.0875 22.6892L38.3906 20.9923C38.158 20.7597 37.7611 20.7597 37.5285 20.9923L37.0358 21.485H35.6947C35.6263 21.2249 35.5852 21.0607 35.5852 21.0607L35.4347 19.0491H31.4798L30.9325 20.1986V17.0237H32.2599L32.7525 17.5164C32.9852 17.749 33.382 17.749 33.6147 17.5164L35.3116 15.8195L33.6147 14.0815C33.382 13.8489 32.9852 13.8489 32.7525 14.0815L32.2599 14.5742H30.9325V12.891L31.4525 12.371C31.6851 12.1383 31.6851 11.7415 31.4525 11.5088L29.7556 9.81192L28.0587 11.5088C27.826 11.7415 27.826 12.1383 28.0587 12.371L28.5787 12.891V14.5605H27.2513L26.7586 14.0679C26.526 13.8352 26.1291 13.8352 25.8965 14.0679L24.1996 15.7648L25.8965 17.4617C26.1291 17.6943 26.526 17.6943 26.7586 17.4617L27.2513 16.969H28.5787V21.4439H28.4145L27.7713 20.1302L27.0186 18.748H23.3238V21.1018C23.3238 21.1018 23.2827 21.2386 23.2006 21.4439H22.1195L21.6269 20.9512C21.3942 20.7186 20.9974 20.7186 20.7647 20.9512L19.0678 22.6481L20.7647 24.345C20.9974 24.5777 21.3942 24.5777 21.6269 24.345L22.1195 23.8524H22.6122C21.4763 25.7272 19.5194 27.4241 19.6289 27.4652C20.4089 27.7252 22.2016 29.8189 22.2016 29.8189C22.2016 29.8189 23.3238 29.34 24.0627 29.1484C24.8291 28.9431 25.8281 28.8884 25.8281 28.8884C25.8281 28.8884 25.2944 26.822 25.2944 26.2335C25.2944 25.2482 25.4175 24.304 25.7049 23.8524H26.4165C27.1965 24.9745 28.6471 29.2168 29.2492 29.1757C29.564 29.1621 31.4525 24.4135 32.3967 23.8524H32.6704C32.9578 24.3861 32.5199 29.1894 32.8346 29.2168C34.9284 29.3673 36.2695 30.2295 36.2695 30.2295C36.2695 30.2295 37.5011 28.6284 38.5411 27.3557C38.5411 27.3557 37.5011 26.3156 36.8579 25.303C36.7758 25.1661 36.5705 24.564 36.3653 23.8524H37.0084L37.5285 24.3861Z"
          fill="#010202"
        />
        <path
          d="M26.0881 22.9903H19.8752L19.6152 22.6618C19.6152 22.6618 20.8195 21.1565 21.1616 21.1565C21.6132 21.1565 21.9553 21.8818 21.9553 21.8818H26.0881V22.9903Z"
          fill="#FFED00"
        />
        <path
          d="M32.2873 21.9776H30.2756V23.004H32.2873V21.9776Z"
          fill="#FFED00"
        />
        <path
          d="M36.0642 21.9776V23.0039H39.3485L39.6085 22.7166C39.6085 22.7166 38.3359 21.266 38.0348 21.2934C37.7337 21.3207 37.4327 21.9639 37.4327 21.9639H36.0642V21.9776Z"
          fill="#FFED00"
        />
        <path
          d="M23.5975 21.5397V18.9943H26.5807V20.7186L29.5777 27.5336C29.5777 27.5336 29.4134 28.4778 29.1945 28.4778C28.9755 28.4778 28.606 27.5746 28.606 27.5746L25.8554 20.7049C25.8554 20.7049 25.5817 19.8701 25.3628 20.1575C25.1438 20.4449 25.3628 21.6081 25.3628 21.6081L23.5975 21.5397Z"
          fill="#FFED00"
        />
        <path
          d="M24.3228 23.8524H23.1869C23.1869 23.8524 20.231 27.4104 20.3268 27.4788C20.9563 27.9441 21.7637 28.8746 22.2974 29.5315L24.3228 23.8524Z"
          fill="#FFED00"
        />
        <path
          d="M30.604 21.7586L31.7125 19.3364H35.0652C35.0652 19.3364 33.9431 20.5817 33.9841 21.1702C34.0252 21.7586 36.3242 29.8189 36.2147 29.8463C36.1053 29.8736 34.641 28.9431 32.9715 28.9568C32.9715 28.9568 33.2041 21.307 32.2872 20.4175C32.1367 20.267 31.5756 21.7586 31.5756 21.7586H30.604Z"
          fill="#FFED00"
        />
        <path
          d="M28.7977 16.0111V21.9913C28.7977 21.9913 29.1535 23.045 29.9335 23.0177V16.0111H28.7977Z"
          fill="#FFED00"
        />
        <path
          d="M29.9472 10.4414V16.0111H24.9933L24.5417 15.7784C24.5417 15.7784 26.0333 14.0815 26.3344 14.0815C26.7586 14.0815 27.0597 14.8889 27.0597 14.8889L28.7977 14.8752V12.7131C28.7977 12.7131 28.0724 12.3983 28.0861 11.9878C28.0997 11.7004 29.7556 10.2088 29.7556 10.2088L29.9472 10.4414Z"
          fill="#FFED00"
        />
        <path
          d="M30.4261 14.8615V15.9016L34.7094 15.9426L34.9421 15.7921C34.9421 15.7921 33.6694 14.2047 33.1767 14.2047C32.9852 14.2047 32.3967 14.8342 32.3967 14.8342L30.4261 14.8615Z"
          fill="#FFED00"
        />
        <path
          d="M2.27675 26.6988C2.27675 26.6988 9.26962 26.7398 19.8752 32.0221C23.748 33.9517 26.7176 36.2781 29.6735 38.8097C34.2852 42.7372 37.419 46.1037 40.0601 49.3059C43.1666 53.0692 44.6445 55.3545 44.6445 55.3545L45.5203 53.8355C45.5203 53.8355 43.0434 49.7575 37.8432 44.0236C33.8747 39.6445 28.5787 34.4854 23.1733 31.2968C15.6877 26.8767 12.3624 25.1935 2.48202 22.4428C1.52409 22.1418 2.27675 26.6988 2.27675 26.6988Z"
          fill="black"
        />
        <path
          d="M29.5777 0.971619V3.51697C29.5777 3.51697 24.7333 9.33296 21.7364 11.6594C18.5752 14.1089 14.634 16.5722 14.634 16.5722L17.0562 18.2006C17.0562 18.2006 9.99493 23.0176 2.50941 22.4155V22.9766C2.50941 22.9766 19.41 27.5336 29.1124 36.1412C39.3212 45.2005 45.0277 53.8218 45.0277 53.8218L44.6993 54.6292C44.6993 54.6292 41.4697 49.7164 36.0095 43.8731C34.1621 41.9025 28.9756 36.1412 22.8859 32.5422C16.7962 28.9431 6.51902 25.2619 3.54944 24.5914C2.44098 24.345 2.08518 24.2219 2.08518 24.2219C2.08518 24.2219 3.05679 38.2624 4.8358 42.8194C6.61481 47.3764 10.6518 53.7534 14.6751 58.6525C19.5605 64.5917 29.5777 72.2004 29.5777 72.2004V73.9657C29.5777 73.9657 28.1271 72.912 25.4039 70.8045C21.9143 68.1086 15.154 63.1822 8.09276 52.4944C2.19466 43.5857 2.0715 36.5244 1.59253 33.3085C1.0862 29.901 0.853561 21.7176 0.853561 21.7176C0.853561 21.7176 6.04005 21.6765 9.25595 20.6639C12.6771 19.5965 14.3467 18.2964 14.3467 18.2964C14.3467 18.2964 11.8424 17.2016 11.2129 16.3806C11.2129 16.3806 17.1931 14.2594 22.3932 9.33296C27.1418 4.8307 29.5777 0.971619 29.5777 0.971619Z"
          fill="#F7E820"
        />
        <path
          d="M29.5777 71.2424V69.4634C29.6598 69.4087 37.2958 63.6338 41.1002 58.9946C46.273 52.686 50.5563 45.7205 52.2121 40.7119C53.6217 36.4697 53.9501 27.3146 54.0185 24.6872C44.9456 23.3461 39.7864 19.1038 39.5538 18.9122L38.418 18.0227L40.5528 15.97C39.458 15.2721 37.5969 14.3279 35.0926 12.152C31.9725 9.41506 29.7008 6.14442 29.5777 5.98021V3.7496C29.6051 3.79066 32.9304 8.27923 35.9137 10.893C39.6085 14.1226 42.0171 15.1489 42.0444 15.1626L43.7413 16.0111L41.3055 17.8859C43.1255 19.1585 47.9015 22.3471 55.0175 23.2366L55.9207 23.305L56.0028 24.1261C56.0028 24.5914 55.688 35.5802 53.8406 41.2456C52.1574 46.4458 47.7099 53.6303 42.4139 60.0894C38.459 64.9064 29.9198 70.9961 29.5777 71.2424Z"
          fill="#F7E820"
        />
        <path
          d="M29.6461 66.6307L31.0419 64.2632C31.0419 64.2632 31.0146 60.8694 31.0419 60.0483C31.0693 59.2273 32.2462 55.6008 34.4631 55.8335C36.1874 56.0114 34.5042 59.323 34.5042 59.323C34.5042 59.323 41.4423 58.9672 41.1686 53.1102C41.0318 50.1954 36.8306 49.6206 34.0115 51.7554C31.1651 53.9039 29.8924 58.8304 29.8924 58.8304C29.8924 58.8304 30.303 56.3124 31.0419 53.986C31.7946 51.6459 32.8757 49.2238 32.9441 47.4584C33.0946 43.9278 30.6451 41.9298 29.564 41.834C28.4829 41.7382 25.7186 43.9141 25.7186 47.4037C25.7186 48.6764 27.005 51.7007 27.7166 54.3418C28.3871 56.8188 28.4555 58.8304 28.4555 58.8304C28.4145 57.7356 27.7302 56.3672 27.2923 55.3682C26.7313 54.0955 26.0333 52.8365 25.1028 51.7965C23.228 49.6753 20.4774 49.1006 18.192 51.0301C17.3162 51.7691 16.8783 52.8502 17.0836 53.9997C17.7131 57.6125 20.9016 58.8304 24.1175 59.3504C24.1175 59.3504 22.7217 56.764 23.7206 56.0387C24.9933 55.1355 26.9913 57.1746 27.3608 59.9799L27.5523 64.3727L28.9482 66.658C29.1124 66.877 29.4682 66.877 29.6461 66.6307Z"
          fill="black"
        />
        <path
          d="M30.7409 57.8451C30.7409 57.8451 31.3977 53.7397 34.7231 51.8102C37.9938 49.908 39.8275 51.1944 40.2517 52.2481C40.4159 52.6586 40.4159 53.3839 40.0465 53.9587C39.8686 54.2187 39.2527 54.6566 38.678 54.4787C37.6927 54.1503 38.2401 53.2881 38.0759 53.2881C38.0895 53.2744 34.4357 51.4407 30.7409 57.8451Z"
          fill="#FFED00"
        />
        <path
          d="M35.2979 58.721C35.2979 58.721 36.2148 56.983 35.9274 56.0935C35.5442 54.8892 33.7242 55.3545 33.7242 55.3545C34.4358 54.3692 36.9537 53.1102 37.9253 54.9577C38.4727 55.984 38.0211 57.8588 35.2979 58.721Z"
          fill="#FFED00"
        />
        <path
          d="M32.5336 61.4032H26.1839C25.9239 61.4032 25.7186 61.1979 25.7186 60.9379V60.5684C25.7186 60.3084 25.9239 60.1031 26.1839 60.1031H32.5336C32.7936 60.1031 32.9988 60.3084 32.9988 60.5684V60.9379C33.0125 61.1842 32.7936 61.4032 32.5336 61.4032Z"
          fill="#010202"
        />
        <path
          d="M32.3146 61.1431H26.4302C26.266 61.1431 26.1292 61.0063 26.1292 60.8421V60.5957C26.1292 60.4315 26.266 60.2947 26.4302 60.2947H32.3146C32.4788 60.2947 32.6157 60.4315 32.6157 60.5957V60.8421C32.6294 61.0063 32.4925 61.1431 32.3146 61.1431Z"
          fill="#FFED00"
        />
        <path
          d="M31.8904 64.5643C30.4809 64.5643 29.8103 63.2643 29.783 63.2095L29.7419 63.1411L29.9061 61.7863L30.4398 61.8547C30.4398 61.8411 30.4398 61.8274 30.4398 61.8274C30.4535 61.9095 30.6725 62.1695 30.8777 62.3474C31.083 62.539 31.3567 62.6348 31.6441 62.6621C31.6578 62.6621 31.6715 62.6621 31.6851 62.6621C31.8357 62.6621 32.0273 62.6074 32.2052 62.5663C32.4241 62.5116 32.6568 62.4432 32.8757 62.4432C33.2999 62.4432 33.5189 62.6758 33.6147 62.8811C33.7789 63.1958 33.7652 63.5516 33.5873 63.8527C33.3136 64.3043 32.6978 64.5643 31.8904 64.5643Z"
          fill="black"
        />
        <path
          d="M26.5671 64.5643C25.5818 64.5643 25.1575 64.1401 25.007 63.8801C24.8154 63.579 24.8017 63.1959 24.9523 62.8811C25.0481 62.6759 25.2533 62.4432 25.6639 62.4432C25.8691 62.4432 26.0881 62.498 26.2934 62.5664C26.4576 62.6074 26.6355 62.6622 26.7587 62.6622C26.7723 62.6622 26.786 62.6622 26.786 62.6622C27.046 62.6485 27.2924 62.539 27.4839 62.3611C27.6755 62.1832 27.8671 61.9232 27.8808 61.8411C27.8808 61.8411 27.8808 61.8548 27.8808 61.8685L28.4145 61.8137L28.565 63.1548L28.5377 63.2232C28.524 63.2643 27.8945 64.5643 26.5671 64.5643Z"
          fill="black"
        />
        <path
          d="M28.1545 61.8274C28.1819 62.019 27.8261 62.4158 27.6755 62.5527C27.4429 62.7716 27.1555 62.9085 26.8134 62.9359C26.2934 62.9769 25.4997 62.3885 25.1986 63.0043C24.9386 63.5517 25.3355 64.2906 26.5671 64.2906C27.7303 64.2906 28.2913 63.0864 28.2913 63.0864L28.1545 61.8274Z"
          fill="#FFED00"
        />
        <path
          d="M32.0956 45.611C32.2872 44.0099 30.6451 42.2856 29.5777 42.2172C28.3324 42.1351 25.2944 45.3236 25.9923 47.9511C26.8681 51.3175 27.6344 52.9734 28.305 55.984C28.5787 57.2293 28.7566 59.3094 28.7566 59.3094L28.7155 59.8568H29.3724V47.0205C29.3724 47.0205 31.8767 47.4585 32.0956 45.611Z"
          fill="#FFED00"
        />
        <path
          d="M27.9766 61.5536H30.5356C30.5356 61.5536 30.2345 62.6074 30.3166 63.3327C30.3851 64.0579 30.4945 64.4137 30.4398 64.5916C30.3851 64.7696 29.7145 66.398 29.2629 66.398C28.8524 66.398 27.9629 64.6053 28.045 64.3043C28.1271 64.0032 28.4418 63.7158 28.4418 63.1958C28.4418 62.6758 27.9766 61.5536 27.9766 61.5536Z"
          fill="#FFED00"
        />
        <path d="M29.563 46.0215H29.1808V60.021H29.563V46.0215Z" fill="black" />
        <path
          d="M5.10947 48.0469L4.41155 47.349C3.87785 45.9531 1.29144 38.5087 1.29144 38.5087C1.29144 38.5087 12.0613 30.7768 29.6871 30.7768C44.754 30.7768 57.9323 39.2203 57.9323 39.2203C57.9323 39.2203 57.2344 41.9983 56.5502 43.9962C55.8659 45.9942 54.7438 48.3343 54.7438 48.3343L54.128 48.5532L51.87 45.9258C51.2405 45.7479 49.9405 45.8163 49.6805 45.6658C49.0099 45.2963 40.0054 39.7677 30.2893 39.9319C15.6877 40.1782 7.88746 45.091 5.4379 46.4458C4.68524 46.8563 5.10947 48.0469 5.10947 48.0469Z"
          fill="black"
        />
        <path
          d="M4.86313 46.3774C4.86313 46.3774 2.0304 38.8782 2.22199 38.235C2.41358 37.5918 14.4424 31.1874 30.3987 31.1874C43.235 31.1874 57.3439 39.0698 57.2618 39.5077C57.166 39.9456 55.0038 47.6774 54.5248 47.6501C54.0459 47.6227 46.5467 39.9593 30.604 39.4256C14.6614 38.8919 4.86313 46.3774 4.86313 46.3774Z"
          fill="#F7EC82"
        />
        <path
          d="M7.83272 39.1656L6.68321 39.7267L6.51899 39.3709C6.43688 39.2066 6.36846 39.1108 6.3274 39.0698C6.28635 39.0287 6.21793 39.0424 6.1495 39.0698C6.08108 39.1108 6.02634 39.1656 6.02634 39.2477C6.02634 39.3298 6.04003 39.4256 6.10845 39.5488C6.19056 39.713 6.25898 39.8224 6.34109 39.8772C6.4232 39.9319 6.58741 39.973 6.83374 40.0003C7.54534 40.0688 8.0243 40.1646 8.27063 40.3014C8.51695 40.4383 8.74959 40.753 8.98223 41.2183C9.14645 41.5604 9.22856 41.8341 9.22856 42.0257C9.22856 42.231 9.13276 42.4362 8.96855 42.6552C8.79065 42.8741 8.55801 43.052 8.25694 43.2026C7.92851 43.3668 7.61376 43.4352 7.3127 43.4215C7.01164 43.4078 6.779 43.3257 6.61478 43.1615C6.45057 42.9973 6.27266 42.7373 6.10845 42.3815L5.95792 42.0667L7.10743 41.5057L7.38112 42.0804C7.46323 42.2583 7.54534 42.3678 7.60008 42.4089C7.65482 42.4499 7.72324 42.4362 7.80535 42.4089C7.88746 42.3678 7.92851 42.3131 7.9422 42.2173C7.95588 42.1352 7.92851 42.0257 7.86009 41.9025C7.72324 41.6151 7.60008 41.4509 7.47692 41.4099C7.35375 41.3551 7.09375 41.3141 6.68321 41.2593C6.27266 41.2046 5.99897 41.1499 5.84844 41.1088C5.69791 41.0678 5.56106 40.972 5.41053 40.8488C5.26 40.712 5.13684 40.5204 5.01367 40.274C4.83577 39.9046 4.75367 39.6172 4.76735 39.3982C4.78104 39.1793 4.86314 38.974 5.02736 38.7824C5.19158 38.5908 5.42421 38.4129 5.71159 38.2761C6.04003 38.1255 6.34109 38.0434 6.61478 38.0298C6.88848 38.0298 7.10743 38.0845 7.25796 38.2077C7.40849 38.3308 7.57271 38.5771 7.75061 38.9603L7.83272 39.1656Z"
          fill="black"
        />
        <path
          d="M10.2549 40.9993L10.6791 41.9983L9.76227 42.3815L9.33804 41.3825L10.2549 40.9993Z"
          fill="black"
        />
        <path
          d="M13.4571 35.3612L14.4972 40.6024L12.5129 41.273L10.0496 36.5107L11.4318 36.0454C12.0613 37.3729 12.5676 38.5087 12.9645 39.4392C12.7045 38.4539 12.4855 37.5644 12.3076 36.7844L12.075 35.8265L13.4571 35.3612Z"
          fill="black"
        />
        <path
          d="M15.2224 34.8823L16.673 39.9866L15.3456 40.3561L13.895 35.2518L15.2224 34.8823Z"
          fill="black"
        />
        <path
          d="M19.6152 36.2096L18.2741 36.5107L18.0689 35.6075C18.0141 35.3475 17.9594 35.1833 17.9183 35.1286C17.8773 35.0738 17.8088 35.0464 17.7131 35.0738C17.6036 35.1012 17.5352 35.1559 17.5352 35.238C17.5215 35.3201 17.5488 35.498 17.6036 35.758L18.151 38.1666C18.2057 38.4129 18.2604 38.5771 18.3015 38.6455C18.3425 38.7139 18.4247 38.7413 18.5341 38.7139C18.6299 38.6866 18.6847 38.6318 18.6983 38.5497C18.712 38.4676 18.6847 38.276 18.6162 38.0023L18.4657 37.3455L19.8068 37.0444L19.8479 37.2497C19.971 37.7834 20.0121 38.1802 19.9984 38.4129C19.971 38.6592 19.8479 38.8918 19.6289 39.1108C19.41 39.3434 19.1089 39.494 18.7257 39.5761C18.3289 39.6719 17.9867 39.6719 17.6994 39.5761C17.412 39.494 17.193 39.3298 17.0562 39.0971C16.9193 38.8645 16.7825 38.495 16.673 37.9887L16.3309 36.4833C16.2488 36.1139 16.1941 35.8265 16.1804 35.6349C16.1667 35.4433 16.1941 35.2517 16.2898 35.0464C16.372 34.8412 16.5225 34.6633 16.7278 34.5264C16.933 34.3759 17.1793 34.2664 17.4667 34.198C17.8636 34.1022 18.2057 34.1159 18.4931 34.2117C18.7805 34.3075 18.9994 34.458 19.1363 34.6633C19.2731 34.8685 19.3963 35.2243 19.5057 35.7033L19.6152 36.2096Z"
          fill="black"
        />
        <path
          d="M19.8342 33.8286L22.1058 33.4591L22.2701 34.5128L21.3669 34.6633L21.5311 35.6623L22.3795 35.5255L22.5437 36.5244L21.6953 36.6613L21.8869 37.8108L22.8859 37.6466L23.0501 38.7003L20.6963 39.0835L19.8342 33.8286Z"
          fill="black"
        />
        <path
          d="M25.9102 33.0485L26.4302 38.3308L25.2259 38.454L24.268 36.1276L24.5006 38.5224L23.3511 38.6319L22.8311 33.3496L23.9806 33.2401L24.9796 35.5391L24.747 33.158L25.9102 33.0485Z"
          fill="black"
        />
        <path
          d="M29.5092 32.9117L29.5503 33.9791L28.7292 34.0064L28.8661 38.2487L27.4839 38.2897L27.3471 34.0475L26.526 34.0748L26.4849 33.0074L29.5092 32.9117Z"
          fill="black"
        />
        <path
          d="M30.0703 32.9254L32.3693 32.9938L32.342 34.0612L31.4251 34.0338L31.3977 35.0328L32.2599 35.0602L32.2325 36.0728L31.3703 36.0455L31.343 37.2087L32.3556 37.236L32.3283 38.3034L29.9335 38.235L30.0703 32.9254Z"
          fill="black"
        />
        <path
          d="M34.4494 33.1306L35.4758 33.2675C36.1326 33.3496 36.5842 33.4454 36.8032 33.5275C37.0221 33.6096 37.1863 33.7464 37.2958 33.897C37.4053 34.0475 37.46 34.2117 37.46 34.3896C37.4737 34.5675 37.4463 34.8959 37.3779 35.4023L37.1453 37.2497C37.0905 37.7287 37.0221 38.0297 36.9537 38.1939C36.8853 38.3582 36.7895 38.4676 36.68 38.5361C36.5568 38.6182 36.42 38.6592 36.2421 38.6729C36.0779 38.6866 35.8316 38.6729 35.5031 38.6319L33.7789 38.4129L34.4494 33.1306ZM35.6947 34.198L35.2568 37.6602C35.4484 37.6876 35.5852 37.6602 35.64 37.5918C35.6947 37.5234 35.7494 37.3044 35.7905 36.9623L36.0505 34.9233C36.0779 34.6907 36.0916 34.5265 36.0916 34.458C36.0916 34.3896 36.0505 34.3349 36.0095 34.2938C35.941 34.2528 35.8452 34.2117 35.6947 34.198Z"
          fill="black"
        />
        <path
          d="M38.418 33.678L40.676 34.1433L40.4707 35.1833L39.5675 35.0054L39.3622 35.9907L40.2107 36.1686L40.0054 37.1539L39.157 36.976L38.9243 38.1255L39.9096 38.3308L39.7043 39.3708L37.3643 38.8918L38.418 33.678Z"
          fill="black"
        />
        <path
          d="M42.6876 34.6359L44.015 35.0465C44.3708 35.1559 44.6445 35.2654 44.8224 35.3886C45.0003 35.4981 45.1235 35.6349 45.1782 35.7718C45.2466 35.9086 45.274 36.0591 45.2603 36.2233C45.2466 36.3876 45.1919 36.6202 45.0961 36.9486L44.9593 37.3865C44.8635 37.715 44.754 37.9339 44.6445 38.0571C44.535 38.1803 44.3708 38.2624 44.1655 38.2897C43.9603 38.3171 43.714 38.276 43.4266 38.1939L43.0708 38.0845L42.4413 40.1235L41.1275 39.7129L42.6876 34.6359ZM43.7413 35.9086L43.3445 37.195C43.3855 37.2086 43.4129 37.2223 43.4403 37.2223C43.5634 37.2634 43.6592 37.2497 43.714 37.2086C43.7687 37.1676 43.8371 37.0444 43.8919 36.8528L44.015 36.4423C44.0698 36.2644 44.0698 36.1412 44.0424 36.0728C44.015 36.0318 43.9055 35.9633 43.7413 35.9086Z"
          fill="black"
        />
        <path
          d="M48.2436 36.5655L47.0393 41.793L45.7256 41.273L45.9993 40.3562L45.534 40.1783L45.1098 41.0404L43.7824 40.5204L46.3688 35.8402L48.2436 36.5655ZM46.3277 39.4666C46.4783 38.8782 46.6835 38.1666 46.9435 37.3182C46.4372 38.2077 46.0951 38.8782 45.8898 39.3024L46.3277 39.4666Z"
          fill="black"
        />
        <path
          d="M52.3353 38.4813L50.7616 41.6561C50.5837 42.0119 50.4468 42.2583 50.351 42.3951C50.2552 42.532 50.1184 42.6414 49.9268 42.7372C49.7352 42.833 49.5299 42.8741 49.2973 42.8604C49.0647 42.8467 48.832 42.7783 48.572 42.6551C48.2846 42.5183 48.0657 42.3404 47.8878 42.1488C47.7236 41.9435 47.6141 41.7383 47.5867 41.5467C47.5593 41.3414 47.573 41.1498 47.6278 40.9719C47.6962 40.794 47.8604 40.4382 48.1204 39.9045L49.5163 37.0855L50.7479 37.7013L48.9825 41.273C48.8868 41.4782 48.832 41.6151 48.8183 41.6835C48.8183 41.7519 48.8457 41.8067 48.9141 41.834C48.9962 41.8751 49.0647 41.8614 49.1194 41.8067C49.1741 41.7519 49.2562 41.6151 49.3794 41.3688L51.1174 37.8655L52.3353 38.4813ZM52.39 37.3318L51.0352 37.6465L50.4331 37.3455L51.35 36.8118L52.39 37.3318Z"
          fill="black"
        />
        <path
          d="M54.2785 39.6445L52.089 43.2709L52.8006 43.7089L52.2532 44.612L50.351 43.4625L53.0879 38.9192L54.2785 39.6445Z"
          fill="black"
        />
        <path
          d="M30.2619 65.2349L29.824 63.0864L30.344 61.499L30.7135 61.6221L30.2209 63.1001L30.6451 64.5643L30.2619 65.2349Z"
          fill="black"
        />
        <path
          d="M28.1818 65.1801L28.7429 63.0864L28.2229 61.499L27.7987 61.5263L28.3461 63.1001L27.8534 64.4959L28.1818 65.1801Z"
          fill="black"
        />
        <path
          d="M27.525 58.721C27.525 58.721 26.2934 53.1513 23.4606 53.3018C20.6279 53.4524 21.7774 56.0798 23.0227 55.8745C23.7617 55.7514 24.1038 55.0945 24.1038 55.0945C25.8828 54.9714 26.9229 57.6125 27.525 58.721Z"
          fill="#FFED00"
        />
        <path
          d="M24.4186 52.3713C24.8428 51.5639 23.2143 50.0586 21.2848 50.0996C19.5331 50.1407 17.4668 51.3312 17.4668 53.5892C17.4668 55.9293 19.4784 57.8588 23.0912 58.721C23.0912 58.721 19.7658 57.0377 19.9574 54.8345C20.2447 51.2491 24.1722 52.8365 24.4186 52.3713Z"
          fill="#FFED00"
        />
        <path
          d="M28.3324 62.4842C28.3324 62.4842 27.3471 63.4421 26.7449 63.4421C26.1428 63.4421 25.787 63.059 25.6502 63.4011C25.4312 63.9758 27.2513 64.359 28.3324 62.4842Z"
          fill="black"
        />
        <path
          d="M29.2493 61.4579C29.2493 61.4579 29.9335 66.5212 29.3587 66.5212C28.7977 66.5212 29.2493 61.4579 29.2493 61.4579Z"
          fill="black"
        />
        <path
          d="M29.2492 66.6581L29.3724 66.5349L29.7419 66.1654L30.4535 64.9064L30.0156 63.1L30.7409 61.1431L29.2492 61.4579V66.6581Z"
          fill="black"
        />
        <path
          d="M30.1661 61.8274C30.1387 62.019 30.5219 62.4158 30.6861 62.5527C30.9325 62.7716 31.2472 62.9085 31.6167 62.9359C32.1778 62.9769 33.0399 62.3885 33.3683 63.0043C33.6557 63.5517 33.2178 64.2906 31.8767 64.2906C30.6177 64.2906 30.0156 63.0864 30.0156 63.0864L30.1661 61.8274Z"
          fill="#FFED00"
        />
        <path
          d="M30.084 62.4842C30.084 62.4842 31.0693 63.4421 31.6714 63.4421C32.2736 63.4421 32.6294 63.059 32.7662 63.4011C32.9852 63.9758 31.1514 64.359 30.084 62.4842Z"
          fill="black"
        />
      </svg>

      <!-- ///// -->
      <div>
        <p>Unidad Edicativa San vicente de Paul</p>
        <p>J-298187476</p>
        <p>
          Calle 69-A Edif. 13A-136 Piso 1 Local Sede Instituto Educacional
          Sector Tierra Negra Maracaibo, Zulia. ZP 4001
        </p>
      </div>
    </header>
    <main class="main">
      <p style="font-size: 20px; font-weight: bold; margin-bottom: 30px; text-align: center;">
        Boletín del Rendimiento Académico
      </p>

      <table class="table" style="margin: 0 auto">
        <div style="margin: 0 auto; width: 80vw; padding: .2em 1em; box-sizing: border-box; text-align: center;">
          <p>Datos del alumno</p>
        </div>
        <tbody>
          <tr>
            <td>
              <div>
                <p>NOMBRE DEL ALUMNO</p>
                <p><%= student.firstName %> <%= student.middleName %> <%= student.firstLastName %> <%= student.secondLastName %></p>
              </div>
            </td>
            <td>
              <div>
                <p>CÉDULA</p>
                <p><%= student.dni %></p>
              </div>
            </td>
            <td>
              <div>
                <p>AÑO Y SECCION</p>
                <p><%= student.activePeriod.name %> - <%= student.activeSection.name %></p>
              </div>
            </td>
            <td>
              <div>
                <p>NIVEL</p>
                <p><%= student.activePeriod.educationType === 'primary' ? ('Educación Primaria') : ('Educación Media Básica') %></p>
              </div>
            </td>
            <td>
              <div>
                <p>PERÍODO ESCOLAR</p>
                <p>2023/2024</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table" style="margin: 0 auto 2em">
        <div style="margin: 0 auto; width: 80vw; padding: .5em 1em; box-sizing: border-box; text-align: center;">
          <p>Datos del representante</p>
        </div>
        <tbody style="width: 80vw;">
          <tr>
            <td>
              <div>
                <p>NOMBRE</p>
                <p><%= student.representant.firstName %> <%= student.representant.middleName %> <%= student.representant.firstLastName %> <%= student.representant.secondLastName %></p>
              </div>
            </td>
            <td>
              <div>
                <p>CÉDULA</p>
                <p><%= student.representant.dni %></p>
              </div>
            </td>
            <td>
              <div>
                <p>Correo</p>
                <p><%= student.representant.email %></p>
              </div>
            </td>
            <td>
              <div>
                <p>Telefono</p>
                <p><%= student.representant.phone %></p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div style="width: 80vw; margin: 0 auto">
        <div style="display: flex">
          <div
            style="
              border: 2px solid black;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 1em;
              width: 200px;
            "
          >
            <p>Area</p>
          </div>
          <div style="width: 100%">
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em; text-align: center; width: 100%">
                COMPETENCIAS DEL LAPSO
              </p>
              <div style="border-left: 1px solid black; border-right: 1px solid black;">
                <div style="padding: .4em; display: flex; justify-content: center; align-items: center;">
                  <p>Criterios</p>
                </div>
                <div style="display: flex">
                  <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; text-align: center;"
                  >I</span>
                  <span
                      style="width: 30px; min-height: 20px; border: 1px solid black; text-align: center;"
                    >P</span>
                    <span
                      style="width: 30px; min-height: 20px; border: 1px solid black; text-align: center;"
                    >C</span>
                  </div>
              </div>
            
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div style="width: 80vw; margin: 0 auto">
        <div style="display: flex">
          <div
            style="
              border: 2px solid black;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 1em;
              width: 200px;
            "
          >
            <p>LENGUA Y LITERATURA</p>
          </div>
          <div style="width: 100%">
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Participa en conversaciones, discusiones, y exposiciones orales
                como hablante y como oyente, con adecuación, respeto y
                propieadad.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= literature_opt_1.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= literature_opt_1.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= literature_opt_1.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Comprende diferentes textos narrativos escritos, usa
                correctamente el diccionario.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= literature_opt_2.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= literature_opt_2.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= literature_opt_2.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Respeta los aspectos formales y elementos normativos de la
                lengua escrita.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= literature_opt_3.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= literature_opt_3.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= literature_opt_3.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Cumple con las actividades previstas y mantiene un
                compartamiento adecuado.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= literature_opt_4.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= literature_opt_4.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= literature_opt_4.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div style="width: 80vw; margin: 0 auto">
        <div style="display: flex">
          <div
            style="
              border: 2px solid black;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 1em;
              width: 200px;
            "
          >
            <p>MATEMÁTICA</p>
          </div>
          <div style="width: 100%">
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Utiliza los números naturales y los decimales para leer y
                escribir cantidades.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= math_opt_1.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= math_opt_1.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= math_opt_1.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Resuelve operaciones Aritmética con números naturales y
                decimales.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= math_opt_2.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= math_opt_2.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= math_opt_2.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Construye, relaciona e identifica la circunferencia y sus
                elementos.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= math_opt_3.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= math_opt_3.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= math_opt_3.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Reconoce el trabajo individual y en equipo como fuente de avance
                personal y social.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= math_opt_4.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= math_opt_4.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= math_opt_4.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div style="width: 80vw; margin: 0 auto">
        <div style="display: flex">
          <div
            style="
              border: 2px solid black;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 1em;
              width: 200px;
            "
          >
            <p>Cs. DE LA NATURALEZA Y TECNOLOGÍA</p>
          </div>
          <div style="width: 100%">
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Analiza objetivamente información científica, poniendo en
                evidencia su producciones comunicativa.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= natTech_opt_1.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= natTech_opt_1.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= natTech_opt_1.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Asume una actitud que proporciona su desarrollo personal
                armónico, destacando la importancia de las leyes, normas,
                medidas de prevención e instituciones dedicadas a prevenir y
                tratar situaciones problemáticas.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= natTech_opt_2.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= natTech_opt_2.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= natTech_opt_2.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Desarrolla habilidades que le permiten su actuación como ser
                humano integral, en armonía con su ambiente socio-cultural y
                natural, como condición esencial para mejorar su calidad de
                vida.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= natTech_opt_3.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= natTech_opt_3.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= natTech_opt_3.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Asume su responsabilidad y comportamiento como parte fundamental
                en la construcción de su aprendizaje.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= natTech_opt_4.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= natTech_opt_4.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= natTech_opt_4.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div style="width: 80vw; margin: 0 auto">
        <div style="display: flex">
          <div
            style="
              border: 2px solid black;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 1em;
              width: 200px;
            "
          >
            <p>CIENCIAS SOCIALES</p>
          </div>
          <div style="width: 100%">
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Respeta la participación ciudadana, las normas sociales y las
                leyes como elemento fundamentales para la convivencia
                democrática.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= social_opt_1.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= social_opt_1.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= social_opt_1.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Propone soluciones a problemas relacionados con el contexto,
                basados en la investigación documental.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= social_opt_2.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= social_opt_2.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= social_opt_2.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Asume una actitud reflexiva en defensa de la conservación y
                proyección del patrimonio natutal, histórico y socio-cultural a
                escala local, regional y nacional.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= social_opt_3.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= social_opt_3.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= social_opt_3.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Asume su responsabilidad u comportamiento como parte fundamental
                en la construcción de su aprendizaje.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= social_opt_4.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= social_opt_4.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= social_opt_4.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div style="width: 80vw; margin: 0 auto">
        <div style="display: flex">
          <div
            style="
              border: 2px solid black;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 1em;
              width: 200px;
            "
          >
            <p>EDUCACIÓN ESTÉTICA</p>
          </div>
          <div style="width: 100%">
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Aplica los elementos de expresión, técnicas y medio de las artes
                en el desarrollo de destrezas y habilidades.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= esthetic_opt_1.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= esthetic_opt_1.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= esthetic_opt_1.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Realiza de manera creativa e independiente todas sus
                actividades.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= esthetic_opt_2.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= esthetic_opt_2.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= esthetic_opt_2.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div style="width: 80vw; margin: 0 auto">
        <div style="display: flex">
          <div
            style="
              border: 2px solid black;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 1em;
              width: 200px;
            "
          >
            <p>EDUCACIÓN FÍSICA</p>
          </div>
          <div style="width: 100%">
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Participa en actividades grupales e individuales de capacidad
                física con sentido de constancia
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= sport_opt_1.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= sport_opt_1.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= sport_opt_1.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Sigue instrucciones y norma de las actividades en las cuales
                participa.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= sport_opt_2.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= sport_opt_2.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= sport_opt_2.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div style="width: 80vw; margin: 0 auto">
        <div style="display: flex">
          <div
            style="
              border: 2px solid black;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 1em;
              width: 200px;
            "
          >
            <p>EDUCACIÓN EN LA FE</p>
          </div>
          <div style="width: 100%">
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Expresa interés de reconocer a San Vicente de Paúl como Patrono
                del colegio y el amor a la familia Vicentina.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= faith_opt_1.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= faith_opt_1.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= faith_opt_1.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Descubre una actitud reconocimiento en torno al “Don maravilloso
                de la vida” en todas sus manifestaciones, de modo que surja el
                deseo de valorarla, apreciar la vida de los demás y cuidar la
                creación.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= faith_opt_2.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= faith_opt_2.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= faith_opt_2.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Cumple responsablemente con las actividades asignadas dentro y
                fuera del salón de clases.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= faith_opt_3.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= faith_opt_3.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= faith_opt_3.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
      <div style="width: 80vw; margin: 0 auto">
        <div style="display: flex">
          <div
            style="
              border: 2px solid black;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 1em;
              width: 200px;
            "
          >
            <p>INGLÉS</p>
          </div>
          <div style="width: 100%">
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Lee, escribe y pronuncia vocabulario referente a las partes de
                una casa.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= english_opt_1.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= english_opt_1.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= english_opt_1.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                border: 2px solid black;
              "
            >
              <p style="padding: 0 1em">
                Realiza oraciones usando <b>There is/There are</b> para señalar objetos
                en singular y plural.
              </p>
              <div style="display: flex">
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= english_opt_2.grade === 'i' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= english_opt_2.grade === 'p' ? ('X') : ("") %></span>
                <span
                  style="width: 30px; min-height: 20px; border: 1px solid black; display: grid; place-items: center; font-size: 1.3em; font-weight: bold"
                ><%= english_opt_2.grade === 'c' ? ('X') : ("") %></span>
              </div>
            </div>
          </div>
        </div>
        <p>Criterios: I = Iniciado, P = En Proceso y C = Consolidado</p>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////// -->
    </main>
  </body>
</html>
